USE [Biljkoteka]
GO
/****** Object:  Table [dbo].[Registracija]    Script Date: 23.1.2019. 18:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registracija](
	[Email] [nchar](10) NOT NULL,
	[Lozinka] [nchar](10) NULL,
	[Ime] [nchar](10) NULL,
	[Prezime] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[unos]    Script Date: 23.1.2019. 18:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[unos](
	[naziv] [varchar](50) NOT NULL,
	[opis] [varchar](5000) NULL,
	[vrsta] [varchar](50) NULL,
	[voda] [int] NULL,
	[temperatura] [int] NULL,
	[Image] [image] NULL,
	[suhakoza] [varchar](50) NULL,
	[masnakoza] [varchar](50) NULL,
	[izgorjelakoza] [varchar](50) NULL,
	[akne] [varchar](50) NULL,
	[prehlada] [varchar](50) NULL,
	[bronhitis] [varchar](50) NULL,
	[astma] [varchar](50) NULL,
	[upalapluca] [varchar](50) NULL,
	[zgaravica] [varchar](50) NULL,
	[nadutost] [varchar](50) NULL,
	[proljev] [varchar](50) NULL,
	[zatvor] [varchar](50) NULL,
	[glavobolja] [varchar](50) NULL,
	[bolutrbuhu] [varchar](50) NULL,
	[zubobolja] [varchar](50) NULL,
	[korisnik] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[naziv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Registracija] ([Email], [Lozinka], [Ime], [Prezime]) VALUES (N'ivanaradic', N'ivana     ', N'Ivana     ', N'Radić     ')
INSERT [dbo].[Registracija] ([Email], [Lozinka], [Ime], [Prezime]) VALUES (N'magdalenak', N'mezi      ', N'Magdalena ', N'Krajinović')
INSERT [dbo].[Registracija] ([Email], [Lozinka], [Ime], [Prezime]) VALUES (N'monikal   ', N'monika    ', N'Monika    ', N'Lenić     ')

